@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root {
  background-image: url("../ressources/images/404/404bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: normal; /* ? */
  justify-content: center;
}

img {
  position: relative;
  background-color: transparent;
}