/* test */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);

.container {
    text-align: center;
    color: black;
    width: 100%;
    min-height: 90vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-image: url(https://as1.ftcdn.net/v2/jpg/05/08/50/18/1000_F_508501854_E7sXYJXuAvmCzYHYQlV2tzqwNMLXs0mb.jpg);

    flex-direction: row;
    gap: 1.6em;
}

p {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.3em;
    max-width: 52ch;
    line-height: 1.5;
    padding: 4em;
}

/* Comic style card START */
.item {
    padding: 40px 20px 0px 20px;
    min-width: 200px;
    width: 420px;
    max-width: 450px;
    height: 600px;
    max-height: 750px;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow: -10px 30px 48px 10px rgba(0, 0, 0, 0.43);

    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;

    transform: rotate(2deg);
    transition: transform 0.2s ease;
}

.item:hover {
    transform: rotate(100deg);
    transform: translateY(10px);
    transform: scale(1.07);
    transition: transform 0.2s ease;
}

.img {
    width: 90%;
    height: 300px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .5em;
}

.img-andres {
    background-image: url("../ressources/images/avatar_andres01.png");
}

.img-luca {
    background-image: url("../ressources/images/avatar_luca01.png");
}

.img-nico {
    background-image: url("../ressources/images/avatar_nicola01.png");
}
/* Comic style card END */


h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", sans-serif;
}

.big {
  font-family: "Bangers";
  margin: 0 0 -1em 0;
  padding-bottom: 50px;
  float: left;
  width: 100%;
  position: relative;

  text-shadow:
    -4px -4px rgb(0, 0, 0),
    4px -4px rgb(0, 0, 0),
    4px 4px rgb(0, 0, 0),
    -4px 4px rgb(0, 0, 0),

    -5px -5px rgb(255, 255, 0),
    4px 4px rgb(255, 166, 0),
    7px 7px rgb(255, 0, 0);

  -webkit-transform: rotate(-10deg) skew(-10deg, 0);
  -moz-transform: rotate(-10deg) skew(-10deg, 0);
  -ms-transform: rotate(-10deg) skew(-10deg, 0);
  -o-transform: rotate(-10deg) skew(-10deg, 0);
  transform: rotate(-6deg) skew(-10deg, 0);
}

h1.big {
  font-size: 150px;
  margin-bottom: -.4em;
  margin-top: 30px;
}

h2.big {
  font-size: 110px;
}

h3.big {
  font-size: 80px;
}

h4.big {
  font-size: 50px;
  margin-top: -.15em;
}

.background-text {
  font-size: inherit;
  position: relative;
  /* Add relative positioning to the text element */
  z-index: 2;
  /* Set a higher z-index to bring text to the foreground */
}

.background-text::before {
  content: attr(content);
  /* Create a pseudo-element */

    background-color: #0026ff;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.8),
    rgb(255, 230, 0));

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;
  /* Remove the text-shadow from the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* Set a lower z-index to place it behind the text */
}

.background-textV2 {
  font-size: inherit;
  position: relative;
  z-index: 2;
}

.background-textV2::before {
  content: attr(content);
  background-image: linear-gradient(to bottom, rgba(43, 255, 0, 0.5),
      rgb(0, 255, 170));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}