@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", sans-serif;
}

h3 {
  font-size: 60px;
}

.big {
  font-family: "Bangers";
  margin: 0 0 -1em 0;
  padding-bottom: 50px;
  float: left;
  width: 100%;
  position: relative;

  text-shadow:
    -4px -4px rgb(0, 0, 0),
    4px -4px rgb(0, 0, 0),
    4px 4px rgb(0, 0, 0),
    -4px 4px rgb(0, 0, 0),

    -7px -7px rgb(255, 255, 0),
    8px 8px rgb(255, 166, 0),
    12px 12px rgb(255, 0, 0);

  -webkit-transform: rotate(-10deg) skew(-10deg, 0);
  -moz-transform: rotate(-10deg) skew(-10deg, 0);
  -ms-transform: rotate(-10deg) skew(-10deg, 0);
  -o-transform: rotate(-10deg) skew(-10deg, 0);
  transform: rotate(-6deg) skew(-10deg, 0);
}

.mid {
  font-family: "Bangers";
  margin: 0 0 -1em 0;
  padding-bottom: 50px;
  float: left;
  width: 100%;
  position: relative;
  color: rgb(0, 0, 0);

  text-shadow:
    -2px -2px rgb(255, 255, 0),
    2px 2px rgb(255, 166, 0),
    3px 3px rgb(255, 0, 0);

  -webkit-transform: rotate(-10deg) skew(-10deg, 0);
  -moz-transform: rotate(-10deg) skew(-10deg, 0);
  -ms-transform: rotate(-10deg) skew(-10deg, 0);
  -o-transform: rotate(-10deg) skew(-10deg, 0);
  transform: rotate(0deg) skew(-10deg, 0);
}

.symbol {
  font-family: "Bangers";
  margin: 0 0 -1em 0;
  padding-bottom: 50px;
  float: left;
  width: 100%;
  position: relative;

  text-shadow:
    -2px -2px rgb(255, 255, 0),
    2px 2px rgb(255, 166, 0),
    4px 4px rgb(255, 0, 0);

  -webkit-transform: rotate(-10deg) skew(-10deg, 0);
  -moz-transform: rotate(-10deg) skew(-10deg, 0);
  -ms-transform: rotate(-10deg) skew(-10deg, 0);
  -o-transform: rotate(-10deg) skew(-10deg, 0);
  transform: rotate(-6deg) skew(-10deg, 0);
}

.bigblank {
  font-family: "Bangers";
  margin: 0 0 -1em 0;
  padding-bottom: 50px;
  float: left;
  width: 100%;
  position: relative;

  text-shadow:
    -4px -4px rgb(0, 0, 0),
    4px -4px rgb(0, 0, 0),
    4px 4px rgb(0, 0, 0),
    -4px 4px rgb(0, 0, 0),

    -7px -7px rgb(255, 255, 0),
    8px 8px rgb(255, 166, 0),
    12px 12px rgb(255, 0, 0);

  -webkit-transform: rotate(-10deg) skew(-10deg, 0);
  -moz-transform: rotate(-10deg) skew(-10deg, 0);
  -ms-transform: rotate(-10deg) skew(-10deg, 0);
  -o-transform: rotate(-10deg) skew(-10deg, 0);
  transform: rotate(-3deg) skew(-25deg, 0);
}

h1.symbol {
  font-size: 150px;
  margin-bottom: -.4em;
}

h1.big {
  font-size: 150px;
  margin-bottom: -.4em;
}

h1.bigblank {
  font-size: 150px;
  margin-top: 80px;
}

h2.big {
  font-size: 110px;
}

h3.big {
  font-size: 80px;
}

h4.big {
  font-size: 50px;
  margin-top: -.15em;
}

p {
  font-family: "Patrick Hand SC";
  font-size: 1.3em;
}

.background-text {
  font-size: inherit;
  position: relative;
  /* Add relative positioning to the text element */
  z-index: 2;
  /* Set a higher z-index to bring text to the foreground */
}

.background-text::before {
  content: attr(content);
  /* Create a pseudo-element */

  /* background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0),
      rgb(255, 0, 0)),
    url(https://wallpapercave.com/wp/wp3433420.jpg); */
    background-color: #0026ff;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.8),
    rgb(255, 230, 0));

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;
  /* Remove the text-shadow from the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  /* Set a lower z-index to place it behind the text */
}

.background-textV2 {
  font-size: inherit;
  position: relative;
  z-index: 2;
}

.background-textV2::before {
  content: attr(content);
  background-image: linear-gradient(to bottom, rgba(43, 255, 0, 0.5),
      rgb(0, 255, 170));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}



/* Comic Dialog */
.comic {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Comic Sans', cursive;
  padding: 10vmin;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(https://img.freepik.com/premium-photo/pale-brown-vintage-paper-texture-background-kraft-paper-horizontal-with-unique-design-paper-soft-natural-paper-style-aesthetic-creative-design_364465-212.jpg);
}

.panel {
  background-color: #fff;
  border: solid 3px #000;
  box-shadow: 4px 6px 6px -2px #000;
  display: inline-block;
  height: 300px;
  margin: 1vmin;
  overflow: hidden;
  position: relative;
}

.text {
  background-color: #fff;
  border: solid 2px #000;
  margin: 0;
  padding: 3px 10px;
}

.top-left {
  left: -6px;
  position: absolute;
  top: -2px;
  transform: skew(-15deg);
  background-color: rgb(117, 255, 158);
}

.top-right {
  right: -6px;
  position: absolute;
  top: -2px;
  transform: skew(15deg);
  background-color: rgb(109, 180, 180);
}

.bottom-right {
  bottom: -2px;
  position: absolute;
  right: -6px;
  transform: skew(-15deg);
  background-color: rgb(231, 147, 187);
}

.speech {
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 12px;
  display: inline-block;
  margin: .5em;
  padding: .5em 1em;
  position: relative;
}

.speech:before {
  border: solid 12px transparent;
  border-left: solid 12px #000;
  border-top: solid 12px #000;
  bottom: -24px;
  content: "";
  height: 0;
  left: 24px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.speech:after {
  border: solid 10px transparent;
  border-left: solid 10px #fff;
  border-top: solid 10px #fff;
  bottom: -19px;
  content: "";
  height: 0;
  left: 27px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.panel:nth-child(1) {
  width: 440px;
}

.panel:nth-child(2) {
  width: 300px;
}

.panel:nth-child(3) {
  width: 450px;
}

.panel:nth-child(4) {
  width: 400px;
}

.panel:nth-child(5) {
  width: 320px;
}

.panel:nth-child(6) {
  width: 444px;
}

.panel:nth-child(7) {
  width: 400px;
}

.panel:nth-child(8) {
  width: 100px;
}

.panel:nth-child(9) {
  width: 200px;
}

.speechImage3 {
  margin-left: 100px;
  margin-top: 5px;
}

.speechImage4 {
  margin-left: 260px;
  margin-top: 70px;
}

.speechImage6 {
  margin-left: 230px;
  margin-top: 50px;
}

.speechImage7 {
  margin-left: 250px;
  margin-top: 80px;
}

.speechImageHeadquarter {
  margin-left: 220px;
  margin-top: 15px;
}

.panel:nth-child(1) {
  background-image: url("../ressources/images/index/flash_01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.panel:nth-child(2) {
  background-image: url("../ressources/images/index/flash_02.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.panel:nth-child(3) {
  background-image: url("../ressources/images/index/flash_03.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.panel:nth-child(4) {
  background-image: url("../ressources/images/index/flash_04.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.panel:nth-child(5) {
  background-image: url("../ressources/images/index/flash_05.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.panel:nth-child(6) {
  background-image: url("../ressources/images/index/flash_06.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.panel:nth-child(7) {
  background-image: url("../ressources/images/index/flash_07.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.panelV2 {
  background-color: #fff;
  border: solid 3px #000;
  box-shadow: 4px 6px 6px -2px #000;
  display: inline-block;
  height: 300px;
  margin: 1vmin;
  overflow: hidden;
  position: relative;
}

.panelV2:nth-child(1) {
  width: 600px;
}

.panelV2:nth-child(2) {
  width: 600px;
}

.panelV2:nth-child(3) {
  width: 400px;
}

.panelV2:nth-child(1) {
  background-image: url("../ressources/images/index/headquarter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.panelV2:nth-child(2) {
  background-image: url("../ressources/images/index/hero_team.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}