@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);

:root {
  background-image: url("../ressources/images/backgrounds/bg07.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Form Element */
form {
  width: 1000px;
  height: auto;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Input Elements */

/* Default Input Element */
input {
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  background-color: transparent;
  font-family: 'Comic Sans', cursive;
}

/* Input Text */
input[type=text] {
  width: 100%;
  height: 100%;
  padding-left: 75px;
  vertical-align: text-top;
}

input[type=text]:hover {}

/* Input E-Mail */
input[type=email] {
  width: 100%;
  height: 100%;
  padding-left: 75px;
}

input[type=email]:hover {}

/* Input Tel */
input[type=tel] {
  width: 100%;
  height: 100%;
  padding-left: 75px;
  /* text-align: right; */
}

input[type=tel]:hover {}

/* Input Textarea */
textarea {
  position: absolute;
  margin-top: 4%;
  margin-left: 0%;

  width: 99%;
  height: 78%;
  /* border: 10px solid red; */
  border-color: transparent;

  outline: none;
  resize: none;
  font-family: 'Comic Sans', cursive;
}

/* Input Radio */
input[type="radio"] {
  opacity: 0;
}

/* Input Custom-Radio */
.radio_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 150%;
  width: 150%;
  opacity: 0.85;
  background-color: #000000;
}

/* Input Custom-Radio Hover*/
.customRadio:hover input~.radio_checkmark {
  opacity: 0;
  transition: 0.25s;
}

/* Input Custom-Radio Checked*/
.customRadio input:checked~.radio_checkmark {
  opacity: 0;
}

/* Input Submit */
input[type=submit] {
  margin: 1vmin;

  font-family: "Bangers";
  font-size: 40px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 12px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #19ad26;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #33cc33;
}