@import url(//fonts.googleapis.com/css?family=Patrick+Hand+SC|Bangers|Happy+Monkey);

:root {
  background-image: url("../ressources/images/backgrounds/bg07.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
form {
  width: 1000px;
  height: auto;
  background-color: #313131;
  border: solid #000000;
  position: relative;
  display: block;
  margin: auto;
  margin-top: 5vh;
}

.column {
  float: left;
  background-color: #ccc;
  width: 50%;
  padding: 20px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Input Elements */

/* Default Input Element */
input {
  width: 100%;
  height: 100%;
  border: 0px solid transparent;
  background-color: transparent;
  font-family: 'Comic Sans', cursive;
}

/* Input Text */
input[type=text] {
  width: 100%;
  height: 100%;
  padding-left: 75px;
  vertical-align: text-top;
}

input[type=text]:hover {}

/* Input E-Mail */
input[type=email] {
  width: 100%;
  height: 100%;
  padding-left: 75px;
}

input[type=email]:hover {}

/* Input Tel */
input[type=tel] {
  width: 100%;
  height: 100%;
  padding-left: 75px;
  /* text-align: right; */
}

input[type=tel]:hover {}

/* Input Textarea */
textarea {
  width: 97%; /* CAUTION */
  height: 75%; /* CAUTION */
  border: 10px solid; /* CAUTION */
  border-color: transparent; /* CAUTION */
  outline: none;
  resize: none;
  font-family: 'Comic Sans', cursive;
}

/* Input Radio */
input[type="radio"] {
  opacity: 0;
}

/* Input Custom-Radio */
.radio_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.85;
  background-color: #000000;
}

/* Input Custom-Radio Hover*/
.customRadio:hover input~.radio_checkmark {
  opacity: 0;
  transition: 0.25s;
}

/* Input Custom-Radio Checked*/
.customRadio input:checked~.radio_checkmark {
  opacity: 0;
}

/* Input Submit */
input[type=submit] {
  margin: 1vmin;

  font-family: "Bangers";
  font-size: 40px;
  font-weight: bold;
  background-color: #ffffff;
  /* color: black; */
  padding: 12px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #19ad26;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #33cc33;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Comic (Panel Parent-Element)*/
.comic {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Comic Sans', cursive;
  padding: 1vmin;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Default Panel */
.panel {
  background-color: #fff;
  border: solid 2px #000;
  box-shadow: 0 6px 6px -6px #000;
  display: inline-block;
  flex: 1 1;
  height: 200px;
  margin: 1vmin;
  overflow: hidden;
  position: relative;
}

/* Panel Name */
.panel_name {
  height: 60px;
  min-width: 600px;
  margin: 1vmin;
  flex-basis: 400px;
}

/* Panel Email */
.panel_email {
  height: 60px;
  min-width: 300px;
  margin: 1vmin;
  flex-basis: 400px;
}

/* Panel Phone */
.panel_phone {
  height: 60px;
  min-width: 400px;
  margin: 1vmin;
  flex-basis: 400px;
}

/* Panel Adress */
.panel_adress {
  height: 60px;
  min-width: 600px;
  margin: 1vmin;
  flex-basis: 400px;
}

/* Panel Message */
.panel_message {
  height: 200px;
  min-width: 600px;
  margin: 1vmin;
  flex-basis: 400px;
}

/* Panel Group Radio-Buttons */
.panel_radio {
  height: 180px;
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  flex-basis: 400px;
  padding-top: 3vmin;
}

/* Panel Single Radio-Button */
.panel_radio-option {
  position: relative;
  height: 150px;
  flex: 1;
  margin: 1vmin;
}

/* Panel Radio-Button Option 1 */
.panel_radio-urgent1 {
  background-image: url('../ressources/images/forms_radio-urgent1.webp');
  background-size: cover;
}

/* Panel Radio-Button Option 2 */
.panel_radio-urgent2 {
  background-image: url('../ressources/images/forms_radio-urgent2.webp');
  background-size: cover;
}

/* Panel Radio-Button Option 3 */
.panel_radio-urgent3 {
  background-image: url('../ressources/images/forms_radio-urgent3.webp');
  background-size: cover;
}

/* Panel Radio-Button Option 4 */
.panel_radio-urgent4 {
  background-image: url('../ressources/images/forms_radio-urgent4.webp');
  background-size: cover;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Panel Textbox */
.paneltext {
  background-color: #fff;
  border: solid 2px #000;
  position: absolute;
  margin: 0;
  padding: 3px 10px;
  z-index: 1;
}

.paneltext_top {
  position: static;
  width: 100%;
  text-align: center;
  margin-top: -2px;
  margin-left: -2px;
  margin-right: -2px;
}

.paneltext_top-left {
  left: -6px;
  top: -2px;
  transform: skew(-15deg);
}

.paneltext_top-right {
  right: -6px;
  top: -2px;
  transform: skew(15deg);
}

.paneltext_bottom-left {
  bottom: -2px;
  left: -6px;
  transform: skew(-15deg);
}

.paneltext_bottom-right {
  bottom: -2px;
  right: -6px;
  transform: skew(-15deg);
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Colors */
.color_YellowOrange {
  background-image: radial-gradient(circle, yellow, orange);
}

.color_LightblueBlue {
  background-image: radial-gradient(circle, lightblue, deepskyblue);
}

.color_GreenYellow {
  background-image: radial-gradient(circle, palegreen, yellowgreen);
}

.color_CoralRed {
  background-image: radial-gradient(circle, lightcoral, tomato);
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Comic */
.mid {
  font-family: "Bangers";
  float: left;
  width: 100%;
  position: relative;
  color: rgb(0, 0, 0);

  text-shadow:
    -2px -2px rgb(255, 255, 0),
    2px 2px rgb(255, 166, 0),
    3px 3px rgb(255, 0, 0);

  -webkit-transform: rotate(-10deg) skew(-10deg, 0);
  -moz-transform: rotate(-10deg) skew(-10deg, 0);
  -ms-transform: rotate(-10deg) skew(-10deg, 0);
  -o-transform: rotate(-10deg) skew(-10deg, 0);
  transform: rotate(0deg) skew(-10deg, 0);
}

h3.mid {
  font-size: 60px;
}

.banner {
  width: 100%;
  height: var(--bannerHeight);
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 5px solid;
  border-bottom: 5px solid;
}

.bg-image_1 {
  background-image: radial-gradient(#212121 10%, transparent 10%);
  background-color: var(--bgColor);
  background-size: 10px 10px;
}

.bg-image_2 {
  background-image: radial-gradient(#d6d6d6 10%, transparent 10%);
  background-color: var(--bgColor);
  background-size: 10px 10px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 6vh;

  background-color: transparent;
}