@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.footer {
    display: flex;
    position: absolute;
    /* bottom: 0; */
    text-align: center;
    height: 100px;
    width: 100%;
    color: white;
    justify-content: center;
    background-color: #1a1a1a;
    padding: 70px 0;
}

.containerFooter {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
}

.ulFooter {
    list-style: none;
}

.footer-col {
    margin-right: 35px;
}

.footer-col h4 {
    font-family: "Bangers";
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    width: 200px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 65px;
    bottom: -10px;
    background-color: #e9ba1e;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    margin-left: 30px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-cr-col {
    display: inline-block;
    width: auto;
}

.footer-cr-col h4 {
    font-family: "Red Hat Text";
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    width: auto;
}