:root {
	--textbox-color: #ffffff;
}


  body {
	background-color: #3b3b3b;
	/* backdrop-filter: blur(0.5px); */
	background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
  }

.row {
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 5vw;
	padding-right: 5vw;
	/* justify-content: center */
}

.content {
	flex-grow: 1;
}
  
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Textboxes */
/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');


.textbox {
	background-color: var(--textbox-color);
	border: solid 3px #000000;
	font-family: 'Comic Sans', cursive;
	width: 400px;
}

.hero_heading {
	font-family: 'Caveat', cursive;
	text-align: center;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Polaroid */
.polaroid-animation {
	width: 100%;
	width: 500px;
	transition: .25s ease;
	&:hover {
		transform: rotate(3deg);
	}
}

.polaroid-frame {
	width: 100%;
	aspect-ratio: 3 / 2;
	border: 4px solid;
	background-color: var(--textbox-color);;
	position: relative;
	padding: 5% 7% 0% 5%;
}

.polaroid-image {
	width: 100%;
	border: 4px solid;
}