:root {
	--textbox-color: #ffffff;
  }


  body {
	background-color: #3b3b3b;
	position: fixed;
	backdrop-filter: blur(2px);
  }
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Textboxes */
.originstory {
	background-color: var(--textbox-color);
	/* font-family: 'Comic Sans', cursive; */
	border: solid 3px #000000;
	flex: auto;

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Polaroid */
.polaroid-animation {
	width: 100%;
	max-width: 400px;
	transition: .25s ease;
	&:hover {
		transform: rotate(3deg);
	}
}

.polaroid-frame {
	width: 85%;
	aspect-ratio: 3 / 2;
	border: 4px solid;
	background-color: #FFF;
	position: relative;
	padding: 5% 7% 0% 5%;
}

.polaroid-image {
	width: 100%;
	border: 4px solid;
}