@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../ressources/images/backgrounds/bg01.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.blank {
  width: 100%;
  height: 300px;

  background-image: radial-gradient(#212121 10%, transparent 10%), radial-gradient(#212121 10%, transparent 10%);
  background-color: #3b3b3b;
  background-position: 0 0, 50px 50px;
  background-size: 20px 20px;

  text-align: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 5px solid;
  border-bottom: 5px solid;
}