:root {
    background-color: #313131;
}

.terms {
    position: relative;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 4em;
    padding-bottom: 4em;

    color: #e2e2e2;
    background-color: transparent;
}

h3 {
    font-family: "Red Hat Text";
}

p {
    font-family: "Red Hat Text";
    font-size: 18px;
}
