/* Top Navigation Bar */
:root {
    --background-color: 28 27 30;
    --topnav-color: #666666;

}

body {
    background-color: var(--background-color);
    font-family: 'Red Hat Text', sans-serif;
    margin: 0px;
}

.topnav {
    background-color: var(--topnav-color);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #f2f2f2;
    color: black;
}

.topnav a.active {
    background-color: #045faa;
    color: white;
}

.topnav a.split {
    float: right;
    background-color: #045faa;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px 0px 70px 0px;
    background-color: #000000;
    color: #fff;
}